<footer class="footer">
<small>
<a href="http://www.tariquemahmud.net">Gazi Tarique Mahmud</a>
</small>
<nav>
<ul>
<li><%= link_to "About",'#' %></li>
<li><%= link_to "Contact", '#' %></li>
<li><a href="http://bdnews24.com/">News</a></li>
</ul>
</nav>
</footer>